---

import MainLayout from '../components/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
// Server Only 
const name = 'Alberto Urquiola Cabrera';
const title = 'Home Page'
---
<MainLayout title="Home Page">
	<h1>{name}</h1>
		<p>Momento actual: {new Date().toLocaleTimeString()}</p>
		<p id="current-time">"Momento actual real:</p>

		<footer>
			
		</footer>

		<script>
			// Client Only
			const footer = document.querySelector('footer')as HTMLElement;
			const currentTimeParagraph = document.querySelector('#current-time')as HTMLParagraphElement;

			const currentYear = new Date().getFullYear();

			footer.innerText = `Año: ${currentYear}`;
		

		</script>
		
	</MainLayout>


		
	
